.chatContent_f087cb {
    .jumpToPresentBar__69174 {
        // i should probably redo this
        display: block;
        left: calc(100% - 50px);
        width: 0;
        height: 0;
        bottom: 50px;
        .barButtonMain__984b4,
        .spinner-2RT7ZC {
            display: none;
        }
        .barButtonAlt_e800ef {
            top: 0;
            width: 0;
            height: 0;
            font-size: 0;
            .barButtonIcon__8b27d {
                z-index: 100;
                position: absolute;
                display: unset;
                top: 0;
                right: 0;
                width: 30px;
                height: 30px;
                margin-left: 0;
                padding: 9px;
                border-radius: 50px;
                color: var(--interactive-normal);
                background-color: var(--background-tertiary);
            }
        }
    }
    .form_d8a4a1 {
        margin: 0;
        padding: 0;
        border-top: 1px solid var(--channeltextarea-border);
        &::before {
            display: none;
        }
        .channelTextArea_c2094b {
            margin: 0;
            padding: 0;
            .attachedBars_c1606a {
                border-radius: 0;
                background-color: var(--background-secondary-alt);
                .replyBar_ed6afc,
                .threadSuggestionBar__717a3 {
                    background-color: transparent;
                }
            }
            .channelAttachmentArea__5e46a {
                margin-top: -11px;
                margin-bottom: 5px;
                margin-left: 0;
                + .divider__855e3 {
                    display: none;
                }
                .wrapper__4e6b6 {
                    background-color: var(--background-floating);
                }
            }
            .scrollableContainer_ff917f {
                padding: 15px;
                overflow-y: unset;
                .inner__9fd0b {
                    padding-left: 0;
                    width: 100%;
                    .buttons__7ecff {
                        > button ~ .expression-picker-chat-input-button:not(:nth-child(4)) {
                            display: none;
                        }
                        .emojiButton__176c8 {
                            display: flex !important;
                            order: -1;
                            position: absolute;
                            left: -50px;
                            .button__581d0 {
                                background-color: transparent;
                            }
                        }
                        .separator__666aa {
                            margin: 0;
                            &::before {
                                display: none;
                            }
                            .button__581d0 {
                                margin-right: 0;
                                .innerButton__9efb8 {
                                    margin-left: 2px;
                                    margin-right: 0;
                                    transition: background-color 200ms ease;
                                    svg {
                                        opacity: 0.25;
                                        transition: all 200ms ease;
                                    }
                                }
                                &:not([disabled]) {
                                    background-color: var(--channeltextarea-sendbutton-background);
                                    &:hover {
                                        background-color: var(--channeltextarea-sendbutton-hover);
                                    }
                                    &:active {
                                        background-color: var(--channeltextarea-sendbutton-active);
                                    }
                                    svg {
                                        opacity: 1;
                                        color: var(--channeltextarea-sendbutton-icon);
                                    }
                                }
                            }
                        }
                    }
                    .attachButton__5f6dc {
                        .attachButtonPlus_fd0021 {
                            d: path("M10.6667 4V10.6667H4V13.3333H10.6667V20H13.3333V13.3333H20V10.6667H13.3333V4H10.6667Z");
                            fill: var(--channeltextarea-button-icon);
                        }
                        .attachButtonPlay__6ccc4 {
                            display: none;
                        }
                    }
                    .characterCount__7e076 {
                        right: unset;
                        bottom: 0;
                        left: 15px;
                    }
                }
            }
        }
        .typing__6fd1d {
            top: -24px;
            right: 0;
            left: 0;
            padding-right: 5px;
            border-bottom: 1px solid var(--background-primary);
            background-color: var(--background-secondary-alt);
        }
    }
    .scrollerSpacer__6b1b6 {
        height: 25px;
    }
}
