.channelTextArea__626ee {
    .buttonContainer_ff1010 {
        z-index: 2;
        position: absolute;
        right: 0;
        top: 0;
        .button__493d9 {
            background-color: transparent !important;
        }
    }
}
