.channelTextArea_af1f8b {
    .buttonContainer__8b164 {
        z-index: 2;
        position: absolute;
        right: 0;
        top: 0;
        .button__55e53 {
            background-color: transparent !important;
        }
    }
}
