#app-mount {
    // || GIF / Sticker / Emoji Drawer
    .drawerSizingWrapper_e20f1f {
        right: 114px;
        .navList__5c9f4 {
            #emoji-picker-tab {
                order: 1;
                margin-left: 0;
            }
            #sticker-picker-tab {
                order: 2;
            }
            #gif-picker-tab {
                order: 3;
                margin-left: 8px;
            }
        }
    }
    // || Autocomplete
    .autocomplete__2e602 {
        bottom: 100%;
        padding-left: 8px;
        border-radius: 0;
        box-shadow: none;
        background-color: var(--background-secondary-alt);
    }
    .autocomplete__743a5 {
        bottom: 100%;
        border-radius: 0;
        box-shadow: none;
        background-color: var(--background-secondary-alt);
        .categoryHeader__70c8e {
            background-color: var(--background-secondary-alt);
        }
    }
    .attachedBars_c1606a ~ {
        .autocomplete__2e602,
        .autocomplete__743a5 {
            border-bottom: 1px solid var(--background-primary);
        }
    }
    // || Stickers
    .stickerIconOffset__72063 {
        display: none;
    }
}
