#app-mount {
    // || GIF / Sticker / Emoji Drawer
    .drawerSizingWrapper__30274 {
        right: 114px;
        .navList__9f792 {
            #emoji-picker-tab {
                order: 1;
                margin-left: 0;
            }
            #sticker-picker-tab {
                order: 2;
            }
            #gif-picker-tab {
                order: 3;
                margin-left: 8px;
            }
        }
    }
    // || Autocomplete
    .autocomplete__0c75a {
        bottom: 100%;
        padding-left: 8px;
        border-radius: 0;
        box-shadow: none;
        background-color: var(--background-secondary-alt);
    }
    .autocomplete_df266d {
        bottom: 100%;
        border-radius: 0;
        box-shadow: none;
        background-color: var(--background-secondary-alt);
        .categoryHeader_f97a5f {
            background-color: var(--background-secondary-alt);
        }
    }
    .attachedBars_da3c74 ~ {
        .autocomplete__0c75a,
        .autocomplete_df266d {
            border-bottom: 1px solid var(--background-primary);
        }
    }
    // || Stickers
    .stickerIconOffset__86287 {
        display: none;
    }
}
